*{
margin: 0px;
padding: 0px;
}
header{
background-color: #ffffff;
height:100px;
display: flex;
justify-content: space-between;
}
.logo_container{
width: 8%;
}
.logo_image{
width:100%;
height:80%;

}
.action_bar{
margin-right:4%;
}
.nav_bar{
margin-top: 20px;
display: flex;
min-width:40%;
justify-content: space-between;
}
.nav_bar a{
font-size: 120%;
letter-spacing: .3px;
color: #282c3f;
font-weight: 700;
text-transform: upper-case;
text-decoration:none;

}
.nav_bar a sup{
color: red;
font-size: 70%;
min-width:25%;

}
.search_bar{
margin-top: 25px;
display: flex;
min-width:30%;

}
.search_bar input{
font-size: 80%;
height: 30%;
margin-left: 5px;
border-radius:5%;
width:70%;

}
