*{
margin: 0px;
padding: 0px;
}
header{
background-color: #ffffff;
height:80px;
display: flex;
justify-content: space-between;
}
.logo_container{
width: 8%;
}
.logo_image{
width:100%;
height:100%;

}
.action_bar{
margin-right:4%;
}
.nav_bar{
margin-top: 25px;
display: flex;
min-width:40%;
justify-content: space-between;
}
.nav_bar a{
font-size: 120%;
letter-spacing: .3px;
color: #282c3f;
font-weight: 700;
text-transform: upper-case;
text-decoration:none;

}
.nav_bar a sup{
color: red;
font-size: 70%;
min-width:25%;

}
.search_bar{
margin-top: 25px;
display: flex;
min-width:30%;

}
.search_bar input{
font-size: 80%;
height: 30%;
margin-left: 5px;
border-radius:5%;
width:70%;

}
.action_bar{
display: flex;
min-width:10%;
justify-content: space-between;
margin-top: 25px;

}
.nav_bar a:hover{
border-bottom: 3px solid #FFC0CB;
}
/* Main Page*/
.banner_image{
width: 70%;
float:left;
}
.banner_container{
margin: 40px 0px;
}
.banner_container p{
width:20%;
float:right;
font-size: 350%;
font-style:verdana;
color: #FF1493;
}
.container_categories{
width:100%;
float:left;
}
.container_categories p{
font-size: 180%;
font-style:verdana;
float:left;
margin-top: 3%;
margin-left: 3%;
border-bottom: 3px solid #FFC0CB;
}

.categories_saree img{
margin: 2%;
width: 20%;
}
.categories_product img{
margin: 2%;
width: 18%;
height: 30vh;
}
.footer-col a{
color: #696b79;
font-size: 25px;
text-decoration:none;
padding-bottom:5px;
list-style-type: none;
}
.footer-col ul{
list-style-type:none;
}

.footer-container{
display:flex;
justify-content: space-around;
}
.footer-col h4{
color: black;
}
.footer-bottom{
text-align:center;
background-color:#FFC0CB;
}
.footer-col a:hover{
color: pink;
font-size: 35px;
text-decoration:none;
padding-bottom:5px;
list-style-type: none;
border-bottom: red;

}


